@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #02162b;
  font-family: "Poppins", sans-serif;
}

.calendar-wrapper {
  background: #00283a;
  width: 450px;
  border-radius: 10px;
  position: relative;
}
.calendar-wrapper::before {
  content: "";
  position: absolute;
  left: 30px;
  top: -8px;
  height: 8px;
  width: calc(100% - 60px);
  background-color: #00283a;
  border-radius: 10px 10px 0 0;
  opacity: 0.3;
}
.calendar-wrapper .calendar-header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
.calendar-wrapper .calendar-header .calendar-select-main {
  display: flex;
  align-items: center;
  gap: 10px;
}
.calendar-wrapper .calendar-header .calendar-select-main .calendar-select-wrapper {
  display: flex;
  gap: 10px;
}
.calendar-wrapper .calendar-header .calendar-select-main .calendar-select-wrapper .calendar-select {
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  color: #fff;
  border: 0;
  outline: none;
  position: relative;
}
.calendar-wrapper .calendar-header .calendar-select-main .calendar-select-wrapper .calendar-select .calendar-select-list-wrap {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  background: #02162b;
  border-radius: 4px;
  z-index: 9;
  width: 150px;
  height: calc(100% + 280px);
  overflow: auto;
  padding: 5px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1215686275);
}
.calendar-wrapper .calendar-header .calendar-select-main .calendar-select-wrapper .calendar-select .calendar-select-list-wrap.show-dropdown {
  display: block;
}
.calendar-wrapper .calendar-header .calendar-select-main .calendar-select-wrapper .calendar-select .calendar-select-list-wrap::-webkit-scrollbar {
  width: 4px;
}
.calendar-wrapper .calendar-header .calendar-select-main .calendar-select-wrapper .calendar-select .calendar-select-list-wrap::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}
.calendar-wrapper .calendar-header .calendar-select-main .calendar-select-wrapper .calendar-select .calendar-select-list-wrap .calendar-select-list {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.calendar-wrapper .calendar-header .calendar-select-main .calendar-select-wrapper .calendar-select .calendar-select-list-wrap .calendar-select-list:hover, .calendar-wrapper .calendar-header .calendar-select-main .calendar-select-wrapper .calendar-select .calendar-select-list-wrap .calendar-select-list.active {
  background-color: #00283a;
}
.calendar-wrapper .calendar-header .icons {
  display: flex;
  align-items: center;
  gap: 5px;
}
.calendar-wrapper .calendar-header .icons span {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
}
.calendar-wrapper .calendar-header .icons span svg {
  stroke: #fff;
}
.calendar-wrapper .calendar-header .icons span:hover {
  background: #02162b;
}
.calendar-wrapper .calendar {
  padding: 20px;
}
.calendar-wrapper .calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}
.calendar-wrapper .calendar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50px;
  width: 14.2857142857%;
  color: #fff;
}
.calendar-wrapper .calendar .weeks li {
  text-transform: capitalize;
}
.calendar-wrapper .calendar .days li {
  z-index: 1;
  cursor: pointer;
}
.calendar-wrapper .calendar .days li::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.calendar-wrapper .calendar .days li.active {
  color: #fff;
}
.calendar-wrapper .calendar .days li.active::before {
  background: #02162b;
  color: #000;
}
.calendar-wrapper .calendar .days li:hover::before {
  background: #02162b;
}
.calendar-wrapper .calendar .days li.inactive {
  color: #919191;
}/*# sourceMappingURL=styles.css.map */